/*This is to color the heading with my name and univerisity. */

.theTop {
  background-color: #FA6900;
  position: absolute;
  /*tline-height: 30px;
  height: 300px;
  width: 1000px;*/
  /*float: left;*/
  top: 0%;
  left: 26.19%;
  width:73.8%;
  overflow:hidden;
}

/*the text on the banner with my name on it*/
.name
{
  position:relative;
  left:4%;
  font-size: 125%;
}
.name:before
{
  position:relative;
  content:"William Guo";
  left: -3.5%;
  font-size:250%;
}

/*The background color of the entire page. */
body {
  background-color: #E0E4CD;
}

/*The static toolbar at the top. */
.toolBar
{
  position: fixed;
  height: 100%;
  left: 0%;
  top: 0%;
  width: 7.8%;
  background-color: #191818;
}

/*this one is the same as a regular
"item" but will have the nice border on top*/
.menu-divide
{
  padding: 5% 25%;
  border-top: 1px solid #333;
}
/*regular menu item*/
.menu-item
{
  padding: 5% 25%;
}




/*colors the links for the menu*/
a.reg-link
{
  color: #999;
  font-size: 125%;
  text-decoration: none;
}
/* when hovering over a link in the menu bar it will
turn white*/
a.reg-link:hover
{
  color:white;
}
/*special characteristics for the home button*/
.link-home
{
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10% 21%;
}
/* the headshot image's div; is blue*/
.head-shot
{
  position: absolute;
  top: 0%;
  left: 7.8%;
  width: 16.3%;
  background-color: #69D2E7;
  padding: 1.05%;
}
/*helps position the headshot relative to the div*/
img.head
{
  position:relative;
  left: 2%;
}

/* for the actual button*/
a.home
{
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
