/*This is to color the heading with my name and univerisity. */
.theTop {
  background-color: #FA6900;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 22.0%;*/
  /*width:78%;*/
}

/*the text on the banner with my name on it*/
.name
{
  position:relative;
  font-size: 125%;
  padding-left: 3%
}
/*puts the name before the description*/
.name:before
{
  position:relative;
  content:"William Guo";
  left: -2.5%;
  font-size:250%;
}

/*The background color of the entire page. */
body {
  background-color: #E0E4CD;
}
/*The black-grey strip on the side*/
ul.toolbar
{
  list-style-type: none;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 7.7%;
  /*width: 123px;*/
  background-color: #191818;
  margin: 0;
  padding: 0;
}
/*breaks up the words if the space is limited*/
/*#tab_navigation
{
word-wrap:break-word
}*/
/*regular menu item*/
.menu-item
{
  padding: 5% 20%;
}
/*is a menu item but with a border on the top*/
.menu-divide
{
  padding: 5% 20%;
  border-top: 1px solid #333;
}
/*colors the links for the menu*/
a.reg-link
{
  color: #999;
  font-size: 110%;
  text-decoration: none;
}
/* when hovering over a link in the menu bar it will
turn white*/
a.reg-link:hover
{
  color:white;
}
/*special characteristics for the MENU*/
.top-menu
{
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10% 15%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
/* the headshot image's div; is blue*/
.head-shot
{
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 7.7%;*/
  /*width: 14.3%;*/
  background-color: #69D2E7;
  padding: 1.05%;
}
/*helps position the headshot relative to the div*/
img.head
{
  position:relative;
  /*left: 2%;*/
}

.resume
{
  position: relative;
  width: 45%;
  height: 970px;
  left: 20%;
  border: none;
}

.resume-dl
{
  position: relative;
  left: 34%;
  font-size: 150%;
  text-decoration: none;
  color: #000000
}

.resume-dl:hover
{
  color:white;
}

.anemoslips
{
  position: relative;
  left:5.4%;
  width: 90%;
  top: 15px;
}

.project-blue
{
  position: relative;
  background-color: #69D2E7;
  left: 10%;
  width: 23%;
  height: 290px;
}

p.project-description
{
  text-align: center;
  font-family: "Times New Roman";
}


/* Here lies the navbar CSS */


@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:100%;
	margin-right: 0;
	margin-left: 0;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
